.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 18px 20px 18px 12px;
  background-color: white;

  > .ant-flex {
    justify-content: space-between;
  }

  span {
    font-size: 16px;
    color: #999;

    strong {
      color: #24acf0;
      font-weight: bold;
    }
  }
}
