.header {
  padding: 40px 60px 0;

  .logo {
    width: 160px;

    img {
      display: block;
      width: 100%;
    }
  }

  .sel-lang {
    .ant-select {
      &-selector {
        border-radius: 100px;
        border-color: #777777;
        padding: 0;
      }
      &-selection {
        &-search {
          padding-inline-end: 0;
        }
        &-item {
          padding-inline-end: 0;
          padding-left: 44px;
          background: url("/ico_global.png") no-repeat 12px center / 24px;
          font-weight: 500;
          font-size: 1.6rem;
          color: #222222;
        }
      }
      &-item {
        justify-content: center;
        text-align: center;
      }
    }
  }
}
