.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 400px;
  width: 100%;
  padding: 18px 20px;
  background-color: white;
  z-index: 10;

  > .ant-flex {
    position: relative;
    justify-content: center;

    span {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      font-size: 16px;
      color: #999;

      strong {
        color: #24acf0;
        font-weight: bold;
      }
    }
  }
}
