html {
  line-height: 1.5;
  font-size: 62.5%;
  letter-spacing: -0.05em;
  font-family: "Pretendard", sans-serif;
}

html,
body {
  height: 100%;
}

.wrap {
  position: relative;
  min-height: 100dvh;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  padding: 80px 0 48px;

  .main {
    padding: 0 24px;
  }
}

h1.ant-typography {
  margin-top: 0;
}

.ant-form-item {
  margin-bottom: 0;

  & + .ant-form-item {
    margin-top: 20px;
  }
}

.chk-button {
  .ant-checkbox {
    &-wrapper {
      height: 32px;
      line-height: 30px;
      flex: 1;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      position: relative;
      border-radius: 6px;
      justify-content: center;
      transition: color 0.2s, background 0.2s, box-shadow 0.2s;

      &-checked {
        border-color: #1677ff;
      }

      &-disabled {
        background-color: rgba(0, 0, 0, 0.04);
        color: rgba(0, 0, 0, 0.25);
      }
    }

    &-inner {
      display: none;
    }

    > div {
      display: none;
    }
  }

  &.solid {
    .ant-checkbox {
      &-wrapper {
        &-checked {
          color: #ffffff;
          background: #1677ff;
        }
      }
    }
  }

  &.outlined {
    .ant-checkbox {
      &-wrapper {
        &-checked {
          color: #1677ff;
          background-color: #ffffff;
        }
      }
    }
  }
}

.rdo-button {
  gap: 12px;

  .ant-radio {
    &-button-wrapper {
      span {
        font-size: 20px;
        font-weight: 400;
      }
      &-checked {
        span {
          font-weight: 600;

          &:last-child {
            background: url("../public/icon-check-purple.svg") no-repeat top center;
            position: absolute;
            top: 14px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        &:not(.ant-radio-button-wrapper-disabled) {
          &:hover {
            color: #6152ed;
            border-color: #6152ed;
          }
        }
      }
    }
  }

  > label {
    border-radius: 12px;

    &:hover {
      color: #222222;
    }

    > div {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }
}

.rdo-custom {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 25px;
    right: 25px;
    height: 2px;
    background-color: #ebeff5;
  }

  > label {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin-inline-end: 0;

    .ant-radio {
      min-height: 39px;

      &-inner {
        width: 25px;
        height: 25px;
        background-color: #ebeff5;
        border: none;
        transition: none;

        &::before {
          content: "";
          background-color: #ffffff;
          width: 15px;
          height: 15px;
          border-radius: 15px;
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }

      &-label {
        display: flex;
        text-align: center;
        align-items: center;
        padding-inline-start: 0 !important;
        padding-inline-end: 0 !important;
        height: 44px;
      }
    }
  }

  .ant-radio-wrapper-checked {
    .ant-radio-label {
      color: #6152ed;
      font-weight: bold;
    }

    .ant-radio-inner {
      width: 39px;
      height: 39px;
      background-color: rgba(97, 82, 237, 0.1);
      inset-block-start: -7px;
      transition: none;

      &::before {
        width: 29px;
        height: 29px;
        background: url("../public/icon-check.svg"),
          linear-gradient(90deg, rgba(97, 82, 237, 1) 0%, rgba(91, 110, 237, 1) 100%);
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.22);
      }

      &::after {
        display: none;
      }
    }

    .ant-radio-checked {
      > div {
        display: none;
      }
    }
  }
}

.bottom-fix {
  > button {
    height: 56px;
    border-radius: 12px;

    &:first-child {
      width: calc(33.3333% - 4px);
    }

    &:last-child {
      width: calc(66.6667% - 4px);
    }

    &:only-child {
      width: 100%;
    }
  }
}

.tbl-result {
  th,
  td {
    text-align: center;
    word-break: keep-all;
    border-left: 1px solid #f0f0f0;
  }

  tr {
    &:first-child {
      th {
        border-bottom: 1px solid #f0f0f0;
        &:first-child {
          border-left: 0;
        }
      }
    }
  }

  th {
    &::before {
      display: none;
    }
  }

  td {
    &:first-child {
      border-left: 0;
    }
  }
}

.tbl {
  margin-top: 8px;
  table {
    width: 100%;

    tr {
      &:last-child {
        td {
          border-bottom: 1px solid #d4d4d4;
        }
      }
    }

    th,
    td {
      padding: 6px;
      font-size: 10px;
      font-weight: 500;
      color: #4d4d4d;
      border-top: 1px solid #d4d4d4;
      border-right: 1px solid #d4d4d4;
      &:last-child {
        border-right: none;
      }
    }

    th {
      background-color: #f7f7f7;
    }

    td {
      text-align: center;
    }
  }
}

.slider-wrap {
  position: relative;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &:has(article) {
    padding-top: 40px;
  }

  > article {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // transform: translateX(-50%);
    font-weight: 600;
    font-size: 18px;
    color: #6152ed;
    text-align: center;
  }

  &:where(*:hover) {
    background: inherit;
    color: inherit;
    border-color: inherit;
  }

  .ant-slider {
    height: 16px;

    &-track {
      height: 16px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.04);
      overflow: hidden;
    }

    &:hover {
      .ant-slider-track {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }

    &-handle {
      width: 44px;
      height: 44px;
      top: -50%;

      &::before,
      &:hover::before,
      &:active::before,
      &:focus::before {
        width: 44px;
        height: 44px;
        background-color: rgba(97, 82, 237, 0.1);
        inset-inline-start: unset;
        inset-block-start: unset;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }

      &::after,
      &:hover::after,
      &:active::after,
      &:focus::after {
        width: 32px;
        height: 32px;
        background: url("../public/icon-arrow-both.svg"),
          linear-gradient(90deg, rgba(97, 82, 237, 1) 0%, rgba(105, 145, 246, 1) 100%);
        background-repeat: no-repeat;
        background-position: center;
        inset-block-start: -11px;
        inset-inline-start: -11px;
        box-shadow: none !important;
        outline: none;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }

      &[aria-valuenow="0"] {
        left: 3% !important;

        &::after {
          background: url("../public/icon-arrow-both.svg"),
            linear-gradient(90deg, rgba(173, 185, 194, 1) 0%, rgba(164, 169, 183, 1) 100%);
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &[aria-valuenow="100"] {
        left: 97% !important;
      }
    }

    &-rail {
      height: 16px;
      border-radius: 10px;
      background-color: #e8edf4;
    }

    &-step {
      height: 16px;
      border-radius: 10px;
    }

    &-dot {
      top: 50%;
      transform: translate(-50%, -50%) !important;
      border: none;

      &:first-child {
        left: 2% !important;
      }

      &:last-child {
        left: 98% !important;
      }
    }

    &-mark {
      &-text {
        width: 50px;
        height: 22px;
        top: 25px;
        color: #4d4d4d;

        &:first-child {
          left: 2% !important;
        }

        &:last-child {
          left: 98% !important;
        }
      }
    }
  }

  &.slider-fifteen {
    .ant-slider-dot {
      width: 2px;
      border-radius: 1px;
      background-color: rgba(255, 255, 255, 0.5);

      &:nth-child(2n) {
        width: 1px;
        height: 4px;
      }
    }

    .ant-slider-mark {
      &-text {
        width: auto;
        font-size: 10px;
        // &:nth-child(2n) {
        //   display: none;
        // }
      }
    }
  }

  & + .slider-wrap {
    margin-top: 65px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -32px;
      height: 1px;
      background-color: #d3d3d3;
    }
  }
}

.ant-tooltip-custom {
  .ant-tooltip-content {
    .ant-tooltip-inner {
      background-color: #6152ed;
      box-shadow: none;
      border-radius: 100px;
      padding: 8px 14px;
    }
  }

  &.ant-tooltip-placement-bottom {
    .ant-tooltip-arrow {
      top: 2px !important;
    }
  }

  &.ant-tooltip-placement-top {
    .ant-tooltip-arrow {
      bottom: 2px !important;
    }
  }

  .ant-tooltip-arrow {
    &::before,
    &::after {
      background-color: #6152ed;
    }
  }
}

// common
.ft {
  &-cl {
    &-light-gray {
      color: #aaa !important;
    }

    &-gray {
      color: #555;
    }

    &-dark {
      color: #222;
    }

    &-primary {
      color: #6152ed;
    }
  }

  &-al {
    &-cn {
      text-align: center;
    }
  }
}

.mt {
  &-60 {
    margin-top: 60px;
  }
}

.mb {
  &-12 {
    margin-bottom: 12px;
  }
}

// input
.ant-input-wrap {
  .ant-row {
    display: block;
  }

  label {
    font-weight: 500;
    font-size: 16px;
  }
}

// modal
.ant-drawer-content-wrapper {
  &:has(.modal-bottom) {
    box-shadow: none;
  }
}

.modal {
  &-bottom {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    .ant {
      &-drawer {
        &-header {
          border-bottom: none;
          padding: 12px 24px;
          &-title {
            flex-direction: row-reverse;
          }
        }
        &-title {
          font-size: 18px;
          color: #000;
        }
        &-body {
          padding: 8px 24px 48px;
        }
        &-close {
          margin-inline-end: 0 !important;
        }
      }
      &-radio {
        &-group {
          flex-direction: column;
        }
        &-button {
          &-wrapper {
            border: none;
            text-align: left;
            padding: 12px 16px;
            border-radius: 12px;
            box-sizing: border-box;
            transition: none;
            &-checked {
              background: #f1efff url(../public/icon-check-purple.svg) no-repeat calc(100% - 16px) center !important;
              border-color: #f1efff !important;
            }
          }
          &-label {
            font-size: 20px;
            font-weight: 400;
            color: #000;
          }
          &-checked {
            & + .ant-radio-button-label {
              color: #6152ed;
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  &-alert {
    padding: 0;

    .ant {
      &-modal {
        &-content {
          padding: 32px 20px 20px;
        }
        &-body {
          text-align: center;
          font-size: 16px;
          font-weight: 500;
        }
        &-footer {
          margin-top: 32px;

          button {
            width: 100%;
            height: 56px;
            border-radius: 12px;
            margin-inline-start: 0 !important;
          }
        }
      }
    }
  }
}

// login
.login {
  > div {
    flex: 1 1 0%;
  }

  .logo {
    width: 160px;
  }

  .ant {
    &-col {
      margin-bottom: 8px;
    }

    &-row {
      label {
        font-size: 16px;
        font-weight: 500;
        color: #000;
      }
    }
  }

  > button {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 auto 56px;

    em {
      font-size: 16px;
      font-weight: 500;
      color: #000;
    }
  }
}

// info
.info {
  > h5.ant-typography {
    margin-top: 20px;
  }

  > span {
    display: block;
    margin-top: 8px;
  }
}

h2.ant-typography {
  &.product {
    margin-top: 40px;
    font-weight: 500;
    line-height: 36px;

    & + span.ant-typography {
      display: block;
      margin-top: 8px;
    }
  }
}

// start
.start {
  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100dvh;
  }

  &-text {
    position: relative;

    > span {
      display: block;
      margin-top: 16px;
      font-size: 20px;
      font-weight: 500;
      color: #000;
    }
  }
}

// evaluation
.evaluation {
  .notice {
    padding: 16px;
    margin-bottom: 48px;
    border-radius: 12px;
    background-color: #f4f7fd;

    color: #333;
    font-size: 14px;
    word-break: keep-all;
    font-weight: 500;

    b {
      font-weight: bold;
    }

    span {
      color: #6152ed;
    }

    .underline {
      border-bottom: 1px solid #6152ed;
    }
  }

  .content {
    & + .content {
      margin-top: 32px;
      padding-top: 32px;
      border-top: 1px solid #ddd;
    }

    em {
      font-weight: 600;
      color: #ccc;
      font-size: 30px;
    }

    .ant {
      &-space {
        &-item {
          &:last-child {
            margin-bottom: 20px;
          }
        }
      }

      &-radio {
        &-button-wrapper {
          position: relative;
          height: 84px;
          line-height: 82px;
        }
      }

      &-input {
        &-textarea {
          resize: none;
          height: 100px;
        }
      }

      &-row {
        display: block;

        label {
          font-size: 18px;
          font-weight: 600;
          color: #000000;
        }
      }
    }
  }
}

.taste-label {
  font-size: 12px;
  font-weight: bold;
  color: #f24f78;
  padding: 4px 8px;
  border: 1px solid;
  border-radius: 20px;
  border-color: #f24f78;
  line-height: 18px;

  &.after {
    color: #6152ed;
    border-color: #6152ed;
  }
}

.inner {
  position: relative;

  & + .inner {
    margin-top: 40px;
    padding-top: 50px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      right: -20px;
      height: 10px;
      background-color: #f7f7f7;
    }
  }
}

.dnd {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .ant {
    &-flex {
      > * {
        padding: 12px 19px;
        background-color: #f1efff;
        color: #6152ed;
        border-radius: 12px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
      }
    }
  }

  &-wrap {
    flex: 1;
    border-radius: 8px;

    > h4 {
      text-align: center;
      margin-bottom: 8px;
    }

    &:first-child {
      // flex: 0 0 100%;

      .ant-typography {
        text-align: left;
      }

      .dnd-inner {
        // height: auto;
        min-height: 80px;
        flex-direction: row;
        flex-wrap: wrap;
        // overflow: hidden;
      }

      .dnd-item {
        // width: 67px;
        // width: calc((100% - 36px) / 4);
        width: 100%;
      }
    }
  }

  &-inner {
    display: flex;
    gap: 12px;
    height: 284px;
    border-radius: 12px;
    border: 1px solid #d3d3d3;
    padding: 12px;
    flex-direction: column;
    overflow-y: auto;

    & + div {
      display: none !important;
    }
  }

  &-item {
    padding: 12px 0;
    background-color: #f1efff;
    color: #6152ed;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
}

.kanal {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px - 48px);
  gap: 40px;

  > div {
    &:first-child {
      flex: 1;
    }
  }
}

.ant {
  &-form {
    &-item {
      &-label {
        text-align: start !important;

        label {
          &::after {
            display: none !important;
          }
        }
      }
    }
  }
}
