html {
  line-height: 1.5;
  font-size: 62.5%;
  letter-spacing: -0.05em;
}

.wrap {
  position: relative;
  min-height: 100dvh;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
  padding: 8rem 2rem 4.8rem;
  flex: 1 1 0%;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

h1.ant-typography {
  margin-top: 0;
}

.ant-form-item {
  margin-bottom: 0;

  & + .ant-form-item {
    margin-top: 1rem;
  }
}

.chk-button {
  .ant-checkbox {
    &-wrapper {
      height: 32px;
      line-height: 30px;
      flex: 1;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      position: relative;
      border-radius: 6px;
      justify-content: center;
      transition: color 0.2s, background 0.2s, box-shadow 0.2s;

      &-checked {
        border-color: #1677ff;
      }

      &-disabled {
        background-color: rgba(0, 0, 0, 0.04);
        color: rgba(0, 0, 0, 0.25);
      }
    }

    &-inner {
      display: none;
    }

    > div {
      display: none;
    }
  }

  &.solid {
    .ant-checkbox {
      &-wrapper {
        &-checked {
          color: #ffffff;
          background: #1677ff;
        }
      }
    }
  }

  &.outlined {
    .ant-checkbox {
      &-wrapper {
        &-checked {
          color: #1677ff;
          background-color: #ffffff;
        }
      }
    }
  }
}

.rdo-button {
  gap: 8px;

  > label {
    border-radius: 6px;

    > div {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }
}

.rdo-custom {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 25px;
    right: 25px;
    height: 2px;
    background-color: #ebeff5;
  }

  > label {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin-inline-end: 0;

    .ant-radio {
      min-height: 39px;

      &-inner {
        width: 25px;
        height: 25px;
        background-color: #ebeff5;
        border: none;
        transition: none;

        &::before {
          content: "";
          background-color: #ffffff;
          width: 15px;
          height: 15px;
          border-radius: 15px;
          position: absolute;
          top: 5px;
          left: 5px;
        }
      }

      &-label {
        display: flex;
        text-align: center;
        align-items: center;
        padding-inline-start: 0 !important;
        padding-inline-end: 0 !important;
        height: 44px;
      }
    }
  }

  .ant-radio-wrapper-checked {
    .ant-radio-inner {
      width: 39px;
      height: 39px;
      background-color: rgba(97, 82, 237, 0.1);
      inset-block-start: -7px;
      transition: none;

      &::before {
        width: 29px;
        height: 29px;
        background: url("../public/icon-check.svg"),
          linear-gradient(90deg, rgba(97, 82, 237, 1) 0%, rgba(91, 110, 237, 1) 100%);
        background-repeat: no-repeat;
        background-position: center;
      }

      &::after {
        display: none;
      }
    }

    .ant-radio-checked {
      > div {
        display: none;
      }
    }
  }
}

.intro {
  min-height: 100vh;
  padding-top: 20rem;
  background: url("/introBg.png") no-repeat top right / auto 100%;

  .ant-typography {
    text-align: center;
    color: #222;
    font-weight: 400;
    line-height: 6.8rem;
    margin-bottom: 6rem;

    span {
      color: #6152ed;
    }

    b {
      font-weight: 600;
    }
  }

  .card {
    width: 64rem;
    height: 40rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 64rem 40rem;

    &.generation {
      background-image: url("/intro01.png");
    }

    &.participation {
      background-image: url("/intro02.png");
    }

    a {
      display: block;
      padding: 8rem 15rem 0 6rem;
      height: 100%;
      color: #ffffff;

      &:hover {
        color: #ffffff;
      }
    }

    b {
      display: block;
      font-size: 2rem;
    }

    strong {
      display: block;
      font-size: 4.8rem;
      margin-top: 2rem;

      em {
        font-weight: 500;
        font-style: normal;
      }
    }

    p {
      font-size: 2rem;
      line-height: 3.2rem;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.85);
      margin-top: 3rem;
      margin-bottom: 0;
    }
  }
}

.bottom-fix {
  position: absolute;
  bottom: 48px;
  left: 20px;
  right: 20px;

  > button {
    width: 100%;
  }
}

.tbl-result {
  th,
  td {
    text-align: center;
    word-break: keep-all;
    border-left: 1px solid #f0f0f0;
  }

  tr {
    &:first-child {
      th {
        border-bottom: 1px solid #f0f0f0;
        &:first-child {
          border-left: 0;
        }
      }
    }
  }

  th {
    &::before {
      display: none;
    }
  }

  td {
    &:first-child {
      border-left: 0;
    }
  }
}

.tbl {
  table {
    width: 100%;
    th,
    td {
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      &:last-child {
        border-right: 0;
      }
    }
  }
}

.slider-wrap {
  margin: 20px 0;

  &:where(*:hover) {
    background: inherit;
    color: inherit;
    border-color: inherit;
  }

  .ant-slider {
    height: 16px;

    &-track {
      height: 16px;
      border-radius: 10px;
      background-color: rgba(0, 0, 0, 0.04);
      overflow: hidden;
    }

    &:hover {
      .ant-slider-track {
        background-color: rgba(0, 0, 0, 0.04);
      }
    }

    &-handle {
      width: 44px;
      height: 44px;
      top: -50%;

      &::before,
      &:hover::before,
      &:active::before,
      &:focus::before {
        width: 44px;
        height: 44px;
        background-color: rgba(97, 82, 237, 0.1);
        inset-inline-start: -17px;
        inset-block-start: -17px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }

      &::after,
      &:hover::after,
      &:active::after,
      &:focus::after {
        width: 32px;
        height: 32px;
        background: url("../public/icon-arrow-both.svg"),
          linear-gradient(90deg, rgba(97, 82, 237, 1) 0%, rgba(91, 110, 237, 1) 100%);
        background-repeat: no-repeat;
        background-position: center;
        inset-block-start: -11px;
        inset-inline-start: -11px;
        box-shadow: none !important;
        outline: none;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
      }

      &[aria-valuenow="0"] {
        left: 2% !important;
      }

      &[aria-valuenow="100"] {
        left: 98% !important;
      }
    }

    &-rail {
      height: 16px;
      border-radius: 10px;
      background-color: #e8edf4;
    }

    &-step {
      height: 16px;
      border-radius: 10px;
    }

    &-dot {
      top: 50%;
      transform: translate(-50%, -50%) !important;
      border: none;

      &:first-child {
        left: 2% !important;
      }

      &:last-child {
        left: 98% !important;
      }

      // &:nth-child(2n) {
      //   display: none;
      // }
    }

    &-mark {
      &-text {
        width: 50px;
        top: 20px;

        &:first-child {
          left: 2% !important;
        }

        &:last-child {
          left: 98% !important;
        }

        // &:nth-child(2n) {
        //   display: none;
        // }
      }
    }
  }
}

.tooltip-custom {
  .ant-tooltip-content {
    .ant-tooltip-inner {
      background-color: #6152ed;
      box-shadow: none;
      border-radius: 100px;
      padding: 8px 14px;
    }
  }
  .ant-tooltip-arrow {
    &::before,
    &::after {
      background-color: #6152ed;
    }
  }
}
