html {
  line-height: 1.5;
}

.wrap {
  max-width: 600px;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 0 10px;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 1 1 0%;
}

h1.ant-typography {
  margin-top: 0;
}

.ant-form-item {
  margin-bottom: 0;

  & + .ant-form-item {
    margin-top: 10px;
  }
}

.chk-button {
  .ant-checkbox {
    &-wrapper {
      height: 32px;
      line-height: 30px;
      flex: 1;
      background: #ffffff;
      border: 1px solid #d9d9d9;
      position: relative;
      border-radius: 6px;
      justify-content: center;
      transition: color 0.2s, background 0.2s, box-shadow 0.2s;

      &-checked {
        background: #1677ff;
        border-color: #1677ff;
        color: #ffffff;
      }

      &-disabled {
        background-color: rgba(0, 0, 0, 0.04);
        color: rgba(0, 0, 0, 0.25);
      }
    }

    &-inner {
      display: none;
    }
  }
}

.rdo-button {
  gap: 8px;

  > label {
    border-radius: 6px;
  }
}
